body {
    margin: 25px;
}

.align-right {
    text-align: right !important;
}

.center {
    text-align: center !important;
}

div.main-content {
    margin: 30px
}

td.timestamp {
    text-align: right !important;
    width: 10%;
    font-style: italic;
    padding-right: 1em;
}

.table-bordered {
    margin-left: 3em;
    margin-right: 3em;
}

tr > td.controls > a.btn {
    visibility: hidden;
    opacity: 0;
    -webkit-transition: visibility 0s linear 0.5s,opacity 0.5s linear;
}

tr:hover > td.controls > a.btn {
    visibility: visible;
    opacity: 1;
    -webkit-transition-delay: 0s;
}
